.CardList{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px;
    padding: 40px;
    width: 85%;
    margin: auto;
    background-color: #F6F6F6;
    border-radius: 10px;
}

@media screen and (max-width: 800px) {
    .CardList{
        grid-template-columns: 1fr;
        background-color: white;
        padding: 35px 0;
        width: 90%;
    }
    
}