#home__banner{
    background-image: url(../../assets/images/homeBanner.png);
    width: 90%;
    height: 200px;
    background-size: cover;
    background-position: center;
    margin: 20px auto;
    border-radius: 12px;
    display: flex;
    align-items: center;
    & #home__banner--title{
        height: inherit;
        background: rgba(0, 0, 0, 0.25);
        width: -webkit-fill-available;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 15px;
        font-weight: 500;
    }
}

#about__banner{
    background-image: url(../../assets/images/aboutBanner.png);
    
    width: 84%;
    height: 200px;
    background-size: cover;
    background-position: center;
    margin: 50px auto;
    border-radius: 12px;
    & h1{
        display: none;
   
    }
}


@media screen and (max-width : 800px) {
    #home__banner{
        margin: 7px auto;
        width: 90%;
        height: 189px;
        overflow: hidden;
        &--title{
            font-size: 37px;
            justify-content: baseline;
            font-weight: 500;
            padding: 30px;
            border-radius: 0px;
            white-space: pre-line;
        }
    }
    #about__banner{
        height: 250px;
        margin: 0px auto;
        width: 92%;
        background-position: initial;
        
    }
    
}